html {
    scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-aspect-ratio: 10/16) {
    
    .link {
        color: white;
    }
    
    .link:visited {
        color: white;
    }
    
    .nolink {
        text-decoration: none;
        color: white;
    }

    .nooverflow {
        max-width: 400px;
        overflow: none;
    }
    .wrapper {
        background-color: #161616;
        width: 1000px;
        flex-direction: column;
        align-items: center;
        font-size: calc(10px + 2vmin);
        color: white;
    }

    .firstRow {
        margin-top: 650px;
        width: 900px;
        overflow: hidden;
        margin-left: 50px;
    }

    .App-logo {
        display: none;
    }


    .header h1 {
        font-size: 140px;
    }

    .header span {
        font-size: 50px;
    }

    .menu {
        padding-top: 25px;
        width: 900px;
    }

    .menu_item {
        float: left;
        margin: 25px;
    
        font-size: 40px;
    
        cursor: pointer;
    
        transition: 0.1s;
    }

    .nolink {
        text-decoration: none;
        color: white;
    }

    .projectsSubtext {
        font-size: 40px;
    }

    .secondRow {
        width: 900px;
        font-size: 20px;
        margin-left: 50px;
        margin-top: 40px;
    }

    .projects {
        float: left;
        margin-right: 20px;
        padding: 10px 30px;
        font-size: 50px;
    
        border-style: solid;
        border-radius: 10px;
        border-color: white;
    
        cursor: default;
    
        color: white;
        text-decoration: none;
    
        transition: 0.3s;
    }

    .description {
        font-size: 40px;
    }

    .projectsTitle {
        font-size: 100px;
    }

    .projectTitle {
        font-size: 70px;
    }

    .thirdRow {
        width: 900px;
        margin-left: 50px;
        margin-top: 900px;
    }

    .skillsTitle {
        float: left;
        width: 900px;
        font-size: 100px;
    }
    
    .skills {
    
        text-decoration: none;
        scroll-behavior: smooth;
        float: left;
        margin: 0 20px;
        padding: 10px 30px;
        font-size: 50px;
    
        color: white;
    
        background-color: rgb(55, 132, 184);
    
        border-style: solid;
        border-radius: 10px;
        border-color: white;
    
        cursor: default;
    
        transition: 0.3s;
    }

    .subtext {
        font-size: 50px;
    }

    .skillItems {
        overflow: hidden;
    }

    .skillItem {
        width: 210px;
        float: left;
        padding: 20px 0px;
        padding-right: 10px;
        font-size: 30px;
        cursor: default;
    }

    .fourthRow {
        width: 900px;
        font-size: 20px;
        margin-left: 50px;
        margin-top: 200px;
    }

    .icon, .icon_, .smallicon, .mongoicon {
        display: none;
    }



    .projectItem {
        width: fit-content;
    }

    .projectImage {
        width: 100%;
    }

    .contactme {
        margin-left: 50px;
        margin-top: 200px;
        padding-bottom: 200px;

        width: 90%;
    }

    .contactme h1 {
        font-size: 100px;
    }

    .contactme p {
        font-size: 40px;
    }

}

@media (min-aspect-ratio: 16/10) {
    
.row {
    width: 1150px;
    display: inline;
}

.left {
    float: left;
    width: 575px;
    display: inline;
}

.right {
    float: right;
    width: 575px;
    display: inline;
}

.wrapper {
    background-color: #161616;
  min-height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.firstRow {
    margin-top: 150px;
    width: 1150px;
    overflow: hidden;
}

.secondRow {
    width: 1150px;
    font-size: 20px;
}

.projects {
    float: left;
    margin-right: 20px;
    margin-top: 15px;
    padding: 10px 30px;

    border-style: solid;
    border-radius: 10px;
    border-color: white;

    cursor: default;

    color: white;
    text-decoration: none;

    transition: 0.3s;
}

.projects:hover {
    background-color: rgb(55, 132, 184);
}

.skills {

    text-decoration: none;
    scroll-behavior: smooth;
    float: left;
    margin: 0 20px;
    margin-top: 15px;
    padding: 10px 30px;

    color: white;

    background-color: rgb(55, 132, 184);

    border-style: solid;
    border-radius: 10px;
    border-color: white;

    cursor: default;

    transition: 0.3s;
}

.skills:hover {
    background-color: #161616;
}

.header {
    padding-top: 25px;
    width: 500px;
    float: left; 
}

.App-logo { 
    max-width: 575px;
    margin-top: 150px;
}

.menu {
    margin-top: 25px;
    width: 1400px;
}

.menu_item {
    float: right;
    margin: 25px;

    font-size: 22px;

    cursor: pointer;

    transition: 0.1s;
}

.menu_item:hover {
    text-shadow:
      0 0 20px rgb(179, 231, 253)
}

.thirdRow {
    margin-top: 350px;
    width: 1150px;
}

.subtext {
    font-size: 20px;
}

.skillsTitle {
    float: right;
    width: 1150px;
}

.skillItems {
    width: 1150px;
    overflow: hidden;
}

.skillItem {
    width: 190px;
    float: left;
    padding: 20px 0px;
    padding-right: 90px;
    cursor: default;
}

.yellowglow:hover {
    text-shadow:
      0 0 20px rgb(230, 245, 20)
}

.orangeglow:hover {
    text-shadow:
      0 0 20px rgb(248, 151, 24)
}

.yellowblueglow:hover {
    text-shadow:
        0 0 10px rgb(78, 202, 255),
        0 0 20px rgb(242, 255, 67)
}

.whiteglow:hover {
    text-shadow:
      0 0 20px rgb(251, 251, 251)
}

.greenglow:hover {
    text-shadow:
      0 0 20px rgb(58, 255, 58)
}

.blueglow:hover {
    text-shadow:
      0 0 20px rgb(58, 133, 255)
}

.fourthRow {
    width: 1150px;
    overflow: hidden;
    margin-top: 300px;
}

.projectsSubtext {
    font-size: 20px;
    margin-bottom: 70px;
}

.projectsRow {
    width: 1150px;
    overflow: hidden;
    padding-bottom: 50px;
}

.projectItem {
    width: 560px;
    float: left;
    margin: 7px;
}

.icons {
    margin-bottom: -39px;
}

.icon {
    width: 30px;
}

.smallicon {
    width: 50px;
}

.shifted {
    padding-bottom: 6px;
}

.icon_ {
    width: 30px;
    padding-right: 7px;
}

.mongoicon {
    width: 35px;
    margin-left: -7px;
}

.negativemargin {
    margin-bottom: -48px;
}

.projectImage {
    width: 550px;
    height: 310px;
}

.projectImage {
    margin-top: -20px;
}

.description {
    font-size: 20px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.paddingleft {
    padding-left: 10px;
}



.nmargin {
    margin-bottom: -45px;
}

.contactme {
    float: left;
    width: 1150px;
    margin-top: 150px;
}

.link {
    color: white;
}

.link:visited {
    color: white;
}

.nolink {
    text-decoration: none;
    color: white;
}

}