html {
    scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
    background-color: #161616;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.socials {
    width: 150vh;
    overflow: hidden;

    margin-bottom: -9vh;
    
}

.firstRow {
    margin-top: 25vh;
    width: 150vh;
    overflow: hidden;
}

.secondRow {
    width: 150vh;

    font-size: 20px;
}

.projects {
    float: left;
    margin-right: 2vh;
    padding: 10px 30px;

    border-style: solid;
    border-radius: 10px;
    border-color: white;

    cursor: default;

    color: white;
    text-decoration: none;

    transition: 0.3s;
}

.projects:hover {
    background-color: rgb(55, 132, 184);
}

.skills {

    text-decoration: none;
    scroll-behavior: smooth;
    float: left;
    margin: 0 2vh;
    padding: 10px 30px;

    color: white;

    background-color: rgb(55, 132, 184);

    border-style: solid;
    border-radius: 10px;
    border-color: white;

    cursor: default;

    transition: 0.3s;
}

.skills:hover {
    background-color: #161616;
}

.header {
    padding-top: 3vh;
    width: 70vh;
    float: left; 
}

.App-logo {
    float: right; 
    max-width: 50vh;
}


.github_logo {
    height: 5vh;
}

.linkedin_logo {
    height: 5vh;
    margin-left: 1vh;
}

.menu {
    margin-top: 3vh;
    width: 190vh;
}

.menu_item {
    float: right;
    margin: 3vh;

    font-size: 22px;

    cursor: pointer;

    transition: 0.1s;
}

.menu_item:hover {
    text-shadow:
      0 0 20px rgb(179, 231, 253)
}

.thirdRow {
    margin-top: 50vh;
    width: 150vh;
}

.subtext {
    font-size: 20px;
}

.skillsTitle {
    float: right;
    width: 70vh;
}

.skillItems {
    width: 150vh;
    overflow: hidden;
}

.skillItem {
    width: 190px;
    float: left;
    padding: 20px 0px;
    padding-right: 90px;
    cursor: default;
}

.yellowglow:hover {
    text-shadow:
      0 0 20px rgb(230, 245, 20)
}

.orangeglow:hover {
    text-shadow:
      0 0 20px rgb(248, 151, 24)
}

.yellowblueglow:hover {
    text-shadow:
        0 0 10px rgb(78, 202, 255),
        0 0 20px rgb(242, 255, 67)
}

.whiteglow:hover {
    text-shadow:
      0 0 20px rgb(251, 251, 251)
}

.greenglow:hover {
    text-shadow:
      0 0 20px rgb(58, 255, 58)
}

.blueglow:hover {
    text-shadow:
      0 0 20px rgb(58, 133, 255)
}

.fourthRow {
    width: 150vh;
    overflow: hidden;
    margin-top: 20vh;
}

.projectsSubtext {
    font-size: 20px;
    margin-bottom: 10vh;
}

.projectsRow {
    width: 150vh;
    overflow: hidden;
    padding-bottom: 50px;
}

.projectItem {
    width: 70vh;
    float: left;
    margin: 1vh;
}

.icons {
    margin-bottom: -5vh;
}

.icon {
    width: 4vh;
}

.smallicon {
    width: 6.5vh;
}

.shifted {
    padding-bottom: 0.8vh;
}

.icon_ {
    width: 4vh;
    padding-right: 1vh;
}

.mongoicon {
    width: 5vh;
    margin-left: -1vh;
}

.negativemargin {
    margin-bottom: -48px;
}

.projectImage {
    width: 70vh;
    height: 42vh;
}

.projectImage {
    margin-top: -3vh;
}

.description {
    font-size: 20px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.paddingleft {
    padding-left: 10px;
}



.nmargin {
    margin-bottom: -45px;
}

.contactme {
    float: left;
    width: 150vh;
    margin-top: 20vh;
}

.link {
    color: white;
}

.link:visited {
    color: white;
}

.nolink {
    text-decoration: none;
    color: white;
}